/*Resete basico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: "Montserrat";
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 0px;
  margin: 0px;
}

/* Cabeçalho */
header {
  background-color: #f4f4f4;
  color: rgb(12, 12, 12);
  padding: 10px 0;
  text-align: center;
}
/*
header h1 {
  font-size: 3rem;
}*/

header.baixo {
  background-color: #005bb5;
  padding: 10px 0;
}

header.baixo h1 h2 {
  font-family: 'Montserrat';
  margin: 5px 0;
  font-size: 3rem;
}

header.baixo .blink {
  animation: blink 1.5s infinite;
}

/* Animação blink 
@keyframes blink {
  50% {
    opacity: 0;
  }
}*/

/* Imagem principal */
.eletronica {
  text-align: center;
  /*margin: 20px 0;*/
}

.eletronica img {
  max-width: 100%;
  height: auto;
}

/* Seções principais */
main {
  width: 100%;
  height: auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.centralizar-main {
  width: 90%;
  padding: 0;
}

section {
  background-color: white;
  padding: 2%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

section h2 {
  color: #0073e6;
  margin-bottom: 10px;
}

.whatsapp-button {
  display: inline-block;
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.whatsapp-button:hover {
  background-color: #1DA851;
}

/* Carrossel de imagens */
.container-crl, .container-crl2 {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin-bottom: 20px;
}

.carrossel, .carrossel2 {
  display: flex;
  animation: slide 15s infinite;
}

.carrossel .imagens, .carrossel2 .imagens {
  display: flex;
}

.carrossel img, .carrossel2 img {
  width: 150px;
  margin-right: 10px;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.segunda-imagem {
  width: 100%;
}
.segunda-imagem img {
  width: 100%;
}

/* Seções de melhoramento */
.melhoramento, .melhoramento2, .melhoramento3 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  
  min-width: 250px; /* Largura mínima para telas menores */
}

.melhoramento h3, .melhoramento2 h4, .melhoramento3 h4 {
  color: #0073e6;
}

.melhoramento p, .melhoramento2 p, .melhoramento3 p {
  margin: 10px 0;
}

/* Flex container for melhoramento sections */
.centralizar-flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
}

.centralizar-container {

  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  background-color: #f4f4f4;
  border: none;
  box-shadow: none;
  width: 95%;
}

/* Footer */
footer {
  background-color: #0073e6;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 5px 0;
}

/* Media queries */
@media (max-width: 980px) {

  .centralizar-flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .flex-container {
    width: 70vw;
    flex-direction: column;
  }
}

@media (max-width: 780px) {

  .flex-container {
    width: 90%;
    flex-direction: column;
  }

  header.baixo h1 h2 {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {
  .baixo h1 {
    font-size: 1.6rem;
  }

  .baixo h2 {
    font-size: 1.3rem;
  }
}