body {
  font-family: Arial, sans-serif;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Estilos específicos */
header {
  width: 100%;
  background-color: #19ccc6;
  padding: 0;
  
  text-align: center;
}
.baixo{
  width: 100%;
  background-color: black;
  padding: 0;
  color: gold;
  font-size: 35px;
  font-style: unset;
  transition: transform 0.2s;
}

@keyframes blink-animation {
  0% { opacity: 1; } /* O elemento é totalmente visível no início da animação */
  50% { opacity: 0; } /* O elemento fica totalmente invisível no meio da animação */
  100% { opacity: 1; } /* O elemento é totalmente visível novamente no final da animação */
}

.blink {
  animation: blink-animation 3s infinite; /* Aplica a animação ao elemento com duração de 1 segundo, repetindo infinitamente */
}

.eletronica{
  width: 98%;
  margin-top: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 98%;
  border-radius: 20px;
}


p{
  max-width: 600px;
  color: black;
  margin: 10px;
  line-height: 25px;
  font-size: 20px;
}

.dividida{
  width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wraper-part1{
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.wraper-part2{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.847);
  background-color: aquamarine;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: transform 0.2s;
}
section:hover{
  background-color: #3dcfb4;
}

  /* Estilos do botão */
.whatsapp-button {
  display: inline-block;
  background-color: #54dd0a;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}
.whatsapp-button:hover {
  transform: scale(1.1); /* Aumenta o tamanho do botão em 10% quando passar o mouse por cima */
}

footer{
  width: 100%;
}
.fim-do-site{
  width: 100%;
  padding: 0;
  background-color: #50505b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
